@import url(https://fonts.googleapis.com/css?family=Hind:300,400,500,700);


body {
  color: #272c2f;
  font-family: "Hind";
  margin: auto;
  position: relative;
  width: 950px;
}

ul {
  line-height: 2;
  list-style: none;
  padding: 0;
}

/* -- HEADER -- */

header {
  background: url("img/mountain.png") no-repeat;
  box-sizing: border-box;
  height: 470px;
  padding: 5px 5px 5px 480px;
}

header h1 {
  margin: 0;
  position: absolute;
  top: 320px;
}

header h1 a {
  background: url("img/logo.png") no-repeat;
  color: transparent;
  display: block;
  height: 40px;
  font-size: 0;
  width: 215px;
}

header p {
  font-size: 1.2em;
}

header p:first-of-type {
  font-size: 2.5em;
}

header section {
  background: transparent;
  box-sizing: border-box;
  color: transparent;
  height: 470px;
  padding: 10px;
  position: absolute;
  top: 480px;
  z-index: 0;
}

header section p {
  font-size: 0.95em;
  margin-left: 0;
}

header section:hover p:first-of-type {
  font-size: 1.2em;
  font-weight: 500;
}

header section:hover {
  background: #404c58;
  color: #fff;
  transition: background 0.5s, color 0.7s, z-index 0.7s;
  z-index: 10;
}

header #presentation {
  left: 480px;
  width: 470px;
}

header #presentation:before {
  content: url("img/logo.png");
  position: absolute;
  top: -160px;
  left: 0;
}

header #celebrating {
  left: 720px;
  width: 230px;
}

header #celebrating:before {
  content: url("img/celebrating.png");
  position: absolute;
  top: -180px;
}


/* -- MAIN -- */

main #enterprise, main #qualities {
  float: left;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 50%;
}

main h2 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
}

main span {
  display: block;
  font-weight: 500;
}

main .fade {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* -- Enterprise -- */

main #enterprise section {
  box-sizing: border-box;
  color: #fff;
  float: left;
  height: 230px;
  margin: 0 10px 10px 0;
  padding: 10px;
  position: relative;
  width: 230px;
}

main #enterprise section:nth-child(2n) {
  margin-right: 0;
}

main #enterprise section a {
  display: block;
  color: transparent;
  font-size: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

main #team {
  background: #cf4545;
}

main #team:hover {
  background: #B93737;
}

main #team h2:before {
  content: url("img/team.png");
  display: block;
  margin: -10px -10px 5px;
}


main #clients {
  background: #248a99;
}

main #clients:hover {
  background-color: #1B7D8B;
}

main #clients h2:before {
  color: #fff;
  content: "90%";
  display: block;
  font-size: 3em;
  margin: 15px auto;
}

main #topics {
  background: #587f97;
}

main #topics h2:before {
  content: url("img/topics.svg");
}


main #enterprise #contact {
  background: #587f97;
  position: static;
}

main #contact h2:before, main #topics h2:before {
  display: block;
  height: 45px;
  margin: 40px auto;
  width: 45px;
}

main #contact h2:before {
  content: url("img/contact.svg");
}

main #enterprise #contact:hover, main #enterprise #topics:hover {
  background-color: #4c6e83;
}

main #contact #numbers {
  background: transparent;
  color: transparent;
  height: 470px;
  left: 480px;
  padding: 10px;
  position: absolute;
  top: 480px;
  width: 470px;
  z-index: 0;
}

main #contact:hover #numbers {
  background: #404c58;
  color: #fff;
  transition: 0.5s;
  z-index: 110;
}

main #contact #numbers {
  text-align: left;
}

main #contact #numbers h3 {
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

main #contact #numbers dl dt {
  font-weight: 500;
  text-transform: uppercase;
}

main #contact #numbers dl dd {
  display: inline-block;
  margin: 0 5px 15px 0;
}


/* -- Qualities -- */

main #qualities {
  box-sizing: border-box;
  padding: 0 0 0 5px;
  position: relative;
}

main #qualities section {
  box-sizing: border-box;
  float: left;
  height: 470px;
  margin: 0 10px 10px 0;
  position: relative;
  width: 230px;
}

main #qualities section a {
  box-sizing: border-box;
  color: inherit;
  height: 100%;
  left: 0;
  padding-top: 320px;
  position: absolute;
  text-decoration: inherit;
  top: 0;
  width: 100%;
}

main #creativity h2:before, main #expertise h2:before {
  display: block;
  height: 55px;
  margin: 80px auto 40px;
  width: 55px;
}

main #creativity {
  background: #cf4545;
  color: #fff;
  text-align: center;
}

main #creativity:hover {
  background-color: #B93737;
}

main #creativity h2, main #expertise h2 {
  text-transform: uppercase;
}

main #creativity h2:before {
  content: url("img/creativity.svg");
}

main #qualities #expertise {
  margin-right: 0;
}

main #expertise {
  background: #f4f4f4;
  color: #272c2f;
  text-align: center;
}

main #expertise:hover {
  background-color: #d4d4d4;
}

main #expertise h2:before {
  content: url("img/clients.svg");
}


/* -- Difference -- */

main #difference {
  border: 1px solid #ededed;
  display: table;
  margin-top: 10px;
  position: relative;
  width: 960px;
}

main #difference #creativity {
  display: table-cell;
  width: 230px;
}

main #difference #ideas {
  display: table-cell;
  padding: 20px;
  text-align: left;
  vertical-align: top;
}

main #difference #ideas h3 {
  color: #587f97;
  font-weight: 500;
  text-transform: uppercase;
}


/* -- Expertise -- */

main #testimonies {
  border: 1px solid #ededed;
  display: table;
  float: none;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  width: 960px;
}

main #testimonies #expertise {
  display: table-cell;
  width: 230px;
}

main #testimonies #records {
  display: table-cell;
  left: 230px;
  margin-bottom: 50px;
  position: absolute;
  width: 730px;
}

main #testimonies #records section h3 {
  color: #cf4545;
  font-weight: 500;
  margin-bottom: 0;
}

main #testimonies #records section p {
  margin: 0;
}

main #testimonies #records section:before {
  display: block;
  height: 100px;
  float: left;
  margin-right: 15px;
  width: 100px;
}

main #testimonies #records #jorge:before {
  content: url("img/jorge_hernandez.png");
}

main #testimonies #records #laurent:before {
  content: url("img/laurent_sanchez.png");
}

main #testimonies #records #xavier:before {
  content: url("img/xavier_stmartin.png");
}

main #testimonies #records #francois:before {
  content: url("img/francois_germain.png");
}

main #testimonies #records .slick-dots {
  bottom: 0;
}

main #testimonies #records .slick-dots li {
  margin: 0;
  width: 10px;
}

main #testimonies #records .slick-dots li.slick-active button:before {
  color: #cf4545;
}

main #testimonies #records .slick-dots li:hover button:before {
  color: #7d7d7d;
}


/* -- Executive team -- */

main #executive {
  border: 1px solid #ededed;
  margin-top: 10px;
  padding: 10px;
  position: relative;
  text-align: left;
  width: 960px;
}

main #executive h2 {
  background: #cf4545;
  color: #fff;
  margin: -10px;
  padding: 5px 0 5px 20px;
  text-transform: uppercase;
}

main #executive #partners, main #executive #directors {
  float: left;
  width: 50%;
}

main #executive section {
  box-sizing: border-box;
  padding: 10px;
}

main #executive section h4 {
  margin: 0;
}

main #executive section p {
  font-size: 0.9em;
  margin-top: 5px;
}

main #executive #partners section:before, main #executive #directors section:before  {
  float: left;
  margin-right: 5px;
}

main #executive #partners #edward:before {
  content: url("img/edward.png");
}

main #executive #partners #sylvestre:before {
  content: url("img/sylvestre.png");
}

main #executive #partners #thierry:before {
  content: url("img/thierry.png");
}

main #executive #directors #jeff:before {
  content: url("img/jeff.png");
}

main #executive #directors #emmanuel:before {
  content: url("img/emmanuel.png");
}

main #executive #directors #eric:before {
  content: url("img/eric.png");
}


/* -- Red hot safety topics -- */

main #news {
  border: 1px solid #ededed;
  display: table;
  margin-top: 10px;
  position: relative;
  width: 960px;
}

main #news h2 {
  background: #587f97;
  color: #fff;
  padding: 5px 0 5px 20px;
  text-transform: uppercase;
}

main #news h3 {
  font-weight: 500;
}

main #news time {
  color: #9d9d9d;
  text-transform: uppercase;
}

main #news img {
  float: left;
  margin: 0 10px;
  max-height: 100%;
  max-width: 125px;
}

main #news .news-content {
  box-sizing: border-box;
  display: inline-block;
  margin: 10px auto;
  padding: 10px;
  vertical-align: top;
  width: 50%;
}

main #news .news-content a {
  color: #cf4545;
  text-decoration: none;
}

main #news .news-content a:hover {
  color: #FA7C7C;
  transition: 0.2s;
}

/* -- Thanks to our amazing clients -- */

main #gallery {
  background: url("img/wallpaper.png") no-repeat 50% 40px;
  border: 1px solid #d8d8d8;
  height: 1350px;
  margin-top: 10px;
  padding: 10px;
  width: 960px;
}

main #gallery h2 {
  background: #cf4545;
  color: #fff;
  margin: -10px;
  padding: 5px 0 5px 20px;
  text-transform: uppercase;
}

main #gallery #clients {
  color: #fff;
  height: 233px;
  margin: 25px 0 0 102px;
  padding: 10px;
  text-align: center;
  width: 233px;
}

main #gallery #clients p:before {
  content: "90%";
  display: block;
  font-size: 3em;
  margin: 15px auto;
}


/* -- FOOTER -- */

footer {
  background: #255e82;
  clear: both;
  color: #fff;
  margin-top: 10px;
  padding: 0 5px;
  position: relative;
  z-index: 20;
}
