@import url(https://fonts.googleapis.com/css?family=Hind:300,400,500,700);


body {
  color: #272c2f;
  font-family: "Hind";
  margin: auto;
  position: relative;
  width: 950px;
}

ul {
  line-height: 2;
  list-style: none;
  padding: 0;
}

/* -- HEADER -- */

header {
  background: url("img/mountain.png") no-repeat;
  box-sizing: border-box;
  height: 470px;
  padding: 5px 5px 5px 480px;
}

header h1 {
  margin: 0;
  position: absolute;
  top: 320px;
}

header h1 a {
  background: url("img/logo.png") no-repeat;
  color: transparent;
  display: block;
  height: 40px;
  font-size: 0;
  width: 215px;
}

header > p {
  font-size: 1.2em;
  margin-bottom: 0;
}

header > p:first-of-type {
  font-size: 3em;
}

header section {
  background: transparent;
  box-sizing: border-box;
  color: transparent;
  height: 470px;
  padding: 10px;
  position: absolute;
  top: 480px;
  z-index: 0;
}

header section p {
  font-size: 0.95em;
  margin-left: 0;
}

header section:hover p:first-of-type {
  font-size: 1.2em;
  font-weight: 500;
}

header section:hover p:last-of-type {
  margin-top: 2em;
}

header section:hover {
  background: #404c58;
  color: #fff;
  transition: background 0.5s, color 0.7s, z-index 0.7s;
  z-index: 10;
}

header #presentation {
  left: 480px;
  width: 470px;
}

header #presentation:before {
  content: url("img/logo.png");
  left: 0;
  position: absolute;
  top: -160px;
}

header #celebrating {
  left: 720px;
  width: 230px;
}

header #celebrating:before {
  content: url("img/celebrating.png");
  position: absolute;
  top: -180px;
}


/* -- HOME -- */

#enterprise,  #qualities {
  float: left;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 50%;
}

article:not(#qualities):not(#enterprise) {
  border: 1px solid #ededed;
  box-sizing: border-box;
  display: table;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
  width: 950px;
}

h2 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

#team h2, #clients h2, #contact h2, #topics h2 {
  text-transform: none;
}

span {
  display: block;
  font-weight: 500;
}

.fade {/* - background effect hover - */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}


/* -- Enterprise -- */

#enterprise section {
  box-sizing: border-box;
  color: #fff;
  float: left;
  height: 230px;
  margin: 0 10px 10px 0;
  padding: 10px;
  position: relative;
  width: 230px;
}

#enterprise section:nth-child(2n) {
  margin-right: 0;
}

#enterprise section a {
  color: transparent;
  display: block;
  font-size: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


#team {
  background: #cf4545;
}

#team:hover {
  background: #B93737;
}

#team h2:before {
  content: url("img/team.png");
  display: block;
  margin: -10px -10px 5px;
}


#clients {
  background: #248a99;
}

#clients:hover {
  background-color: #1B7D8B;
}

#clients h2:before {
  color: #fff;
  content: "90%";
  display: block;
  font-size: 3em;
  margin: 15px auto;
}


#topics {
  background: #587f97;
}

#topics h2:before {
  content: url("img/topics.svg");
}


#enterprise #contact {
  background: #587f97;
  position: static;
}

#contact h2:before,  #topics h2:before {
  display: block;
  height: 45px;
  margin: 40px auto;
  width: 45px;
}

#contact h2:before {
  content: url("img/contact.svg");
}

#enterprise #contact:hover,  #enterprise #topics:hover {
  background-color: #4c6e83;
}

#contact #numbers {
  background: transparent;
  color: transparent;
  height: 470px;
  left: 480px;
  padding: 10px;
  position: absolute;
  top: 480px;
  width: 470px;
  z-index: 0;
}

#contact:hover #numbers {
  background: #404c58;
  color: #fff;
  transition: 0.5s;
  z-index: 110;
}

#contact #numbers {
  text-align: left;
}

#contact #numbers h3 {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

#contact #numbers dl {
  font-size: 0.95em;
  margin: 5px 0;
}

#contact #numbers dl dt {
  color: transparent;
  margin-top: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

#contact:hover #numbers dl dt {
  color: #000;
}

#contact:hover #numbers dl dt:after {
  background: #272E36;
  content: "";
  display: block;
  height: 1px;
  margin-top: 2px;
  width: 100%;
}

#contact #numbers dl dd {
  display: inline-block;
  margin: 0 2px 0 2px;
}

#contact #numbers dl dd a {
  color: #fff;
  font-size: 1em;
  position: static;
  text-decoration: none;
}

#contact #numbers dl dd a:hover {
  color: #000;
  transition: 0.3s;
}

#contact #numbers .name {
  margin: 0;
}

#contact #numbers .name:after {
  content: ":";
  color: inherit;
  display: inline-block;
  margin: 0 5px;
}


/* -- Qualities -- */

#qualities {
  box-sizing: border-box;
  padding: 0 0 0 5px;
  position: relative;
}

#qualities section {
  box-sizing: border-box;
  float: left;
  height: 470px;
  margin: 0 10px 10px 0;
  position: relative;
  width: 230px;
}

#qualities section a {
  box-sizing: border-box;
  color: inherit;
  height: 100%;
  left: 0;
  padding-top: 320px;
  position: absolute;
  text-decoration: inherit;
  top: 0;
  width: 100%;
}

#creativity h2:before,  #expertise h2:before {
  display: block;
  height: 55px;
  margin: 80px auto 40px;
  width: 55px;
}

#creativity {
  background: #cf4545;
  color: #fff;
  text-align: center;
}

#creativity:hover {
  background-color: #B93737;
}

#creativity h2:before {
  content: url("img/creativity.svg");
}

#qualities #expertise {
  margin-right: 0;
}

#expertise {
  background: #f4f4f4;
  color: #272c2f;
  text-align: center;
}

#expertise:hover {
  background-color: #d4d4d4;
}

#expertise h2:before {
  content: url("img/clients.svg");
}


/* -- Difference -- */

#difference #creativity {
  display: table-cell;
  width: 230px;
}

#difference #ideas {
  display: table-cell;
  padding: 20px;
  text-align: left;
  vertical-align: top;
}

#difference #ideas h3 {
  color: #587f97;
  font-weight: 500;
  text-transform: uppercase;
}


/* -- Expertise -- */

#testimonies #expertise {
  display: table-cell;
  width: 230px;
}


#testimonies #records {
  display: table-cell;
  left: 250px;
  margin-bottom: 50px;
  position: absolute;
  top: 500px;
  width: 690px;
}

#testimonies #records section h3 {
  color: #cf4545;
  font-weight: 500;
  margin-bottom: 0;
}

#testimonies #records section p {
  margin: 0;
}

#testimonies #records section:before {
  display: block;
  height: 100px;
  float: left;
  margin-right: 15px;
  width: 100px;
}

#testimonies #records #safety {
  position: relative;
}

#testimonies #records #safety a {
  color: inherit;
  display: block;
  left: 115px;
  height: 100%;
  position: absolute;
  text-decoration: none;
  top: 30px;
  width: 100%;
}

#testimonies #records #safety:before {
  content: url("img/contact.jpg");
}

#testimonies #records #jorge:before {
  content: url("img/jorge_hernandez.png");
}

#testimonies #records #laurent:before {
  content: url("img/laurent_sanchez.png");
}

#testimonies #records #xavier:before {
  content: url("img/xavier_stmartin.png");
}

#testimonies #records #francois:before {
  content: url("img/francois_germain.png");
}

#testimonies #records .slick-dots {
  bottom: 0;
}

#testimonies #records .slick-dots li {
  margin: 0;
  width: 10px;
}

#testimonies #records .slick-dots li.slick-active button:before {
  color: #cf4545;
}

#testimonies #records .slick-dots li:hover button:before {
  color: #7d7d7d;
}


/* -- Executive team -- */

#executive {
  border: 1px solid #ededed;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
  width: 950px;
}

#executive h2 {
  background: #cf4545;
  color: #fff;
  margin: -10px;
  padding: 5px 0 5px 20px;
}

#executive #partners,  #executive #directors {
  float: left;
  width: 50%;
}

#executive section {
  box-sizing: border-box;
  padding: 10px;
}

#executive section h4 {
  margin: 0;
}

#executive section p {
  font-size: 0.9em;
  margin-top: 5px;
}

#executive #partners section:before,  #executive #directors section:before  {
  float: left;
  margin-right: 5px;
}

#executive #partners #edward:before {
  content: url("img/edward.png");
}

#executive #partners #sylvestre:before {
  content: url("img/sylvestre.png");
}

#executive #partners #thierry:before {
  content: url("img/thierry.png");
}

#executive #directors #jeff:before {
  content: url("img/jeff.png");
}

#executive #directors #emmanuel:before {
  content: url("img/emmanuel.png");
}

#executive #directors #eric:before {
  content: url("img/eric.png");
}


/* -- Red hot safety topics -- */

#news h2 {
  background: #587f97;
  color: #fff;
  margin: -10px;
  padding: 5px 0 5px 20px;
}

#news h3 {
  font-weight: 500;
}

#news time {
  color: #9d9d9d;
  text-transform: uppercase;
}

#news img {
  float: left;
  margin: 0 10px;
  max-height: 100%;
  max-width: 125px;
}

#news section {
  box-sizing: border-box;
  float: left;
  margin: 10px auto;
  padding: 10px;
  vertical-align: top;
  width: 50%;
}

#news section:nth-of-type(odd) {
  clear: left;
}

#news section a {
  color: #cf4545;
  text-decoration: none;
}

#news section a:hover {
  color: #FA7C7C;
  transition: 0.2s;
}


/* -- Thanks to our amazing clients -- */

#gallery {
  background: url("img/wallpaper.png") no-repeat 50% 40px;
  border: 1px solid #d8d8d8;
  height: 1350px;
  margin-top: 10px;
  padding: 10px;
  width: 950px;
}

#gallery h2 {
  background: #cf4545;
  color: #fff;
  margin: -10px;
  padding: 5px 0 5px 20px;
}

#gallery #clients {
  color: #fff;
  height: 233px;
  margin: 25px 0 0 86px;
  padding: 10px;
  text-align: center;
  width: 233px;
}

#gallery #clients p:before {
  content: "90%";
  display: block;
  font-size: 3em;
  margin: 15px auto;
}


/* -- FOOTER -- */

footer {
  background: #255e82;
  clear: both;
  color: #fff;
  margin-top: 10px;
  padding: 0 5px;
  position: relative;
}

footer ul li {
  display: inline-block;
  vertical-align: middle;
}

footer ul li a {
  background: url("img/linkedin.svg") no-repeat;
  display: block;
  font-size: 0;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
}
